<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <authentication mode="Forms" />
  </system.web>

	<connectionStrings>
		<add name="AppDbInt" connectionString="Driver={MySQL ODBC 8.0 UNICODE Driver};Server=htlvb-project;Database=5ahwii_mensa2_user;User=5ahwii_mensa2_user;Password=12345678" />
		<add name="AppDb" connectionString="Driver={MySQL ODBC 8.0 UNICODE Driver};Server=htlvb-project;Database=5ahwii_Mensa2;User=2122_5ahwii_schmidmair;Password=25.02.2003" />
		<add name="AppDbExt" connectionString="Driver={MySQL ODBC 8.0 UNICODE Driver};Server=78.104.47.39;Database=5ahwii_mensa2_user;5ahwii_mensa2_user;Password=12345678" />
	</connectionStrings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Magick.NET.Core" publicKeyToken="2004825badfa91ec" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="8.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <connectionStrings>
    <add name="AppDbInt" connectionString="Driver={MySQL ODBC 8.0 UNICODE Driver};Server=htlvb-project;Database=5ahwii_mensa2_user;User=5ahwii_mensa2_user;Password=12345678" />
    <add name="AppDb" connectionString="Driver={MySQL ODBC 8.0 UNICODE Driver};Server=htlvb-project;Database=5ahwii_Mensa2;User=2122_5ahwii_schmidmair;Password=25.02.2003" />
    <add name="AppDbExt" connectionString="Driver={MySQL ODBC 8.0 UNICODE Driver};Server=78.104.47.39;Database=5ahwii_mensa2_user;5ahwii_mensa2_user;Password=12345678" />
  </connectionStrings>

</configuration>