<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <authentication mode="Forms" />
  </system.web>
  <connectionStrings>
    <add name="AppDbInt" connectionString="Driver={MySQL ODBC 8.0 UNICODE Driver};Server=htlvb-project;Database=5ahwii_mensa2_user;User=5ahwii_mensa2_user;Password=12345678" />
    <add name="AppDb" connectionString="Driver={MySQL ODBC 8.0 UNICODE Driver};Server=htlvb-project;Database=5ahwii_Mensa2;User=2122_5ahwii_schmidmair;Password=25.02.2003" />
    <add name="AppDbExt" connectionString="Driver={MySQL ODBC 8.0 UNICODE Driver};Server=78.104.47.39;Database=5ahwii_mensa2_user;5ahwii_mensa2_user;Password=12345678" />
  </connectionStrings>
</configuration>